body{
    background-color: whitesmoke;
}
#searchbar{
    margin-left: 15%;
    padding:15px;
    border-radius: 10px;
  }
 input[type=text] {
     width: 30%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  } 
ul li{
  width: 33%;
  float: left;
}

  /* When the input field gets focus,
       change its width to 100% */
  input[type=text]:focus {
    width: 70%;
   
  }

 #list{
   font-size:  1.5em;
   margin-left: 90px;
  }

.animals{
  display: list-item;    
 } 
 .input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border: 1px solid #ef9a9a;

  }
